/* Global Colors */
$si-background-dark: #13131A;
$si-background-inactive: #677089;
$si-background-active: #53B9EA;

/* Text Colors */
$si-text-light: #6b6b6b;
$si-text-inactive: #677089;
$si-text-active: #53B9EA;

/* svg color fills */
$si-icon-active: #53B9EA;
$si-icon-inactive: #677089;
$si-icon-background: #343440;
$si-icon-gradient: #53B9EA;
$si-show-detection-switch-active: #979797;
$si-show-detection-switch-inactive: rgba(83, 185, 234, 0.7);

